* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial Nova', sans-serif;
    background-color: #FAF3FD;
    height: 100vh;
}

a{
    cursor: pointer;
}

/*Navigation bar - header*/
header {
    top: 0;
    background-color: #63327f;
    height: 60px;
    width: 100%;
    padding-left: 60px;
    display: flex;
    position: fixed; /*Change to fixed later*/
    justify-content: space-between;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

header > .logo {
    font-family: "Indie Flower";
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-decoration: none;
    align-self: center;
}

header > .logo a {
    color: #FAF3FD;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

header > .navigation-bar{
    width: fit-content;
    height: 100%;
    padding-right: 60px;
}

.navigation-bar > ul {
    list-style: none;
    margin-left: 30px;
}

.navigation-bar > ul li{
    display: inline;
    float: left;
    font-size: 16px;
    padding: 12px 0;
}

.navigation-bar > ul li a{
    padding: 0 27px;
    display: inline-block;
    color: #ffffff;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    position: relative;
}

.navigation-bar > ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 1px;
    background-color: #fefdff;
    transition: 0.15s ease-in-out;
}

.navigation-bar > ul li a:hover:after{
    color: #3d2e46; /*Change it later*/
    width: 65%;
}

.navigation-bar ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navigation-bar > ul li a.no-underline::after {
    display: none;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/*Profile section*/
/*Whole profile container: Bio settings and everything*/
.profile-container {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: auto;
    display: inline-flex;
    padding: 20px;
    justify-content: space-between;
}

.profile {
    width: 200px;
    height: 100%;
    background-color: #63327F;
    border-radius: 10px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 10px 7px 0 rgba(0,0,0,0.15);
}

.profile > .profile-picture {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pf-img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-details {
    color: #ffffff;
    text-align: center;
    margin: 13px 0 18px 0;
    font-family: 'Segoe UI';
}

.profile-details > .heading{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3px;
    text-transform: uppercase;
    padding: 0 14px;
}

.profile-details > .heading > .sub_type{
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Arial Nova', sans-serif;
    color: #fffc63;
}

.profile-details > p{
    font-size: 12px;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.profile-actions > button{
    margin-bottom: 8px;
    background-color: #C08CDF;
    color: #63327f;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 35px;
    text-align: center;
}

.profile-actions > button:hover{
    background-color: #401a55;
    color: #ffffff;
}

/*bio-post-wrapper*/
.profile-container > .bio-post-wrapper {
    width: 100%;
}

.profile-bio {
    height: 7.3rem;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 14.5px;
    background-color: rgba(202, 135, 241, 0.7);
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: center;
    color: #521674;
    box-shadow: 3px 6px 5px 0 rgba(0,0,0,0.15);
}

.profile-bio > h3{
    font-size: 18px;
}

/*Recent posts in profile*/
.recent-posts {
    width: 100%;
    max-height: fit-content;
    background-color: rgba(241, 215, 253, 0.80);
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 3px 8px 7px 0 rgba(0,0,0,0.15);
}

.recent-posts > h2 {
    font-size: 18px;
    color: #521674;
    margin-bottom: 10px;
}

.recent-posts > .post {
    padding: 3px 0 3px 16px;
    background: linear-gradient(to right, black 1px, transparent 1px);
    background-size: 3px 70%;
    background-repeat: no-repeat;
    background-position: left center;
}

.recent-posts > .post > h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #521674;
}

.recent-posts > .post > p {
    font-size: 13.5px;
}

/*Profile settings*/
.profile-settings {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.profile-settings > img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-settings button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #63327F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-settings button:hover {
    background-color: #401a55;
}

.profile-settings > .cpwd{
    margin-top: 10px;
}

.profile-settings form {
    margin-top: 18px;
}

.profile-settings textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.profile-settings textarea:focus {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.profile-settings input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #63327F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-settings input[type="submit"]:hover {
    background-color: #401a55;
}

.profile-settings input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.15);
}

/*profile settings - change dp*/
.profile-settings > #form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-settings > #form > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
}

.profile-settings .circle img {
    border-radius: 50%;
    position: absolute;
}

.profile-settings .circle .camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #63327f;
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-settings .circle .camera-icon:hover{
    background-color: #401a55;
}

#image {
    display: none;
}

/*MEDIA QUERIES - HEADER SECTION*/
/*For tablet*/
@media only screen and (max-width: 991px) {
    header {
        height: 70px;
        padding-left: 30px;
    }

    header > .logo {
        font-size: 30px;
        transition: all ease-in-out 0.3s;
    }

    header > .navigation-bar {
        height: 100%;
        padding-right: 10px;
        transition: all ease-in-out 0.3s;
    }

    .navigation-bar > ul li {
        font-size: 14px;
    }

    /*Recent posts in profile*/
    .recent-posts {
        padding: 15px;
    }

        .recent-posts > h2 {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .recent-posts > .post {
            padding: 2px 0 2px 14px;
        }

            .recent-posts > .post > h3 {
                font-size: 13px;
                margin-bottom: 4px;
                color: #521674;
            }

            .recent-posts > .post > p {
                font-size: 12.5px;
            }
}

/*For phones (upto 767px)*/
@media only screen and (max-width: 767px) {
    body, html {
        overflow-x: hidden;
        transition: all ease-in-out 0.3s;
    }

    header {
        padding: 0 30px;
        height: 45px;
    }

    header > .logo {
        font-size: 18px;
        align-self: center;
        transition: all ease-in-out 0.3s;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        z-index: 1001;
        color: #fff;
    }

    .navigation-bar {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #63327f;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        border-bottom-left-radius: 10px;
    }

    .navigation-bar > ul {
        height: 236px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigation-bar > ul li {
        display: block;
        float: none;
        padding: 10px 0px;
    }

    .navigation-bar > ul li a {
        padding: 0 20px;
        margin: 0;
    }

    #menu-toggle:checked ~ .navigation-bar {
        height: auto;
        transform: translateX(0);
    }

    #menu-toggle:not(:checked) ~ .navigation-bar {
        transform: translateX(100%);
    }

        #menu-toggle:not(:checked) ~ .navigation-bar > ul {
            display: none;
        }

    #menu-toggle:checked ~ .navigation-bar > ul {
        display: block;
    }

    .menu-btn i.fa-solid.fa-bars {
        display: block;
    }

    .menu-btn > i.fa-solid.fa-xmark {
        display: none;
    }

    #menu-toggle:checked ~ .menu-btn i.fa-solid.fa-bars {
        display: none;
    }

    #menu-toggle:checked ~ .menu-btn i.fa-solid.fa-xmark {
        display: block;
    }

    /*Profile*/
    .profile-container {
        width: 90%;
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile > .profile-picture {
        width: 50%;
        height: fit-content;
    }

    .pf-img {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .profile-details-container {
        width: 50%;
    }

    .profile-details > .heading {
        font-size: 15px;
    }

    .profile-actions > button {
        width: 120px;
        height: 23px;
        font-size: 10px;
    }

    /*Bio options*/
    .profile-bio {
        height: 6rem;
        font-size: 12px;
    }

    .profile-bio > h3 {
        font-size: 15px;
    }

    /*Profile posts*/
    .recent-posts {
        margin-top: 23px;
        
    }

    .recent-posts > h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .recent-posts > .post {
        padding: 3px 0 3px 16px;
        background-size: 3px 70%;
    }

    .recent-posts > .post > h3 {
        font-size: 13px;
        margin-bottom: 3px;
    }

    .recent-posts > .post > p {
        font-size: 11.5px;
    }

    /*Profile settings*/
    .profile-settings {
        width: 300px;
        margin: 0; /*change later*/
        padding: 15px;
    }

        .profile-settings > img {
            width: 40px;
            height: 40px;
        }

        .profile-settings textarea {
            font-size: 12px;
        }
}