body{
    background-color: #FAF3FD;
}
.success_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success_sub{
    width: 25%;
    height:30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vw;
    background-color: white;
}

.success_sub img{
    width: 40%;
}
.success_sub h1{
    font-size: 2.5vw;
}
.success_sub p{
    font-size: 1.3vw;
}
.success_sub button{
    width:10vw;
    padding: 0.5vw;
    background-color: transparent;
    border: 0.09vw solid grey;
    border-radius: 0.5vw;
    font-size: 1vw;;
}
.success_sub button:hover{
    background-color: #FAF3FD;
    border: 0.09vw solid black;
}

/*---------------------------MEDIA QUERIES---------------------------------------*/

/*TABLET VERSION*/

@media only screen and (max-width: 991px) {
    .success_sub{
        width: 35%;
        height:40vw;
        margin-top: 6vw;
    }
    .success_sub img{
        width: 50%;
    }
    .success_sub h1{
        font-size: 3vw;
    }
    .success_sub p{
        font-size: 1.8vw;
    }
    .success_sub button{
        width:12vw;
        font-size: 1.6vw;;
    }
}
/* MOBILE VERSION*/

@media only screen and (max-width: 767px) {
    .success_sub{
        width: 80%;
        height:100vw;
        margin-top: 9vw;
    }
    .success_sub img{
        width: 50%;
    }
    .success_sub h1{
        font-size: 8vw;
    }
    .success_sub p{
        font-size: 4vw;
    }
    .success_sub button{
        width:30vw;
        font-size: 3vw;;
    }
}